.dialog__add-to-cart.open {
  bottom: 0;
}
.dialog__add-to-cart {
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  background-color: white;
  transition: bottom 0.3s ease;
  z-index: 9999;
  background-color: white;
  padding: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 9999;
  width: 70vw;
  max-width: 1075px;

  &.closed {
    display: none;
  }
  header {
    font-size: large;
    display: flex;
    justify-content: space-between;
    .btn__close {
      border: none;
      font-size: xx-large;
      &:hover {
        color: red;
      }
    }
  }
  .dialog__content {
    position: relative;
    line-height: 2;
    text-transform: capitalize;
    .dialog__product-image {
      object-fit: cover;
      width: 100%;
      aspect-ratio: 1/1;
    }
    .dialog__product-info {
      .color__product {
        .color__title {
        }
        .color__list {
          font-size: medium;
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          .color__item {
            padding: 0 5px;
            margin: 5px;
            border: 2px solid #ccc;
          }
          .selected {
            border: 2px solid red;
          }
        }
      }
      .size__product {
        .size__title {
        }
        .size__list {
          font-size: medium;
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          .size__item {
            aspect-ratio: 1;
            width: 40px;
            padding: 5px;
            margin: 5px;
            border: 2px solid #ccc;
          }
          .selected {
            border: 2px solid red;
          }
        }
      }
      .quantity__product {
        .quantity__title {
        }
      }
      .title{
        font-size: medium;
        font-weight: 700;
      }
    }
    .btn__add-to-cart {
      padding: 0 20px;
      margin-top: 10px;
      width: max-content;
      border: 2px solid var(--primary-main);
      border-radius: 5px;
      align-items: center;
      display: flex;
      background-color: #c0dbf6;
      p {
        padding-left: 10px;
        font-size: large;
        font-weight: 600;
      }
      .icon {
        height: 40px;
      }
      &:hover {
        background-color: var(--primary-main);
        p {
          color: white;
        }
        .icon {
          color: white;
        }
      }
    }
  }
}
