.footer {
  background-color: #1b1b1b;
  font-size: 14px;
  color: #6c757d;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  z-index: 100;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  left: 0;
  right: 0;
  color: aliceblue;
  z-index: 1000;
  .footer__above {
    display: flex;
    position: relative;
    padding: 0 100px;
    .footer__info {
      display: flex;
      width: 30%;
      align-items: center;
      .footer__logo {
        width: 40%;
        .img__logo {
          border-radius: 50%;
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
        }
      }
      .footer__name {
        font-size: medium;
        font-weight: 600;
      }
    }
    .footer__about {
      position: relative;
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      font-size: medium;
      text-align: justify;
      .item__about {
        width: 30%;
        margin: 0 1.5%;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  .footer__below {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    .footer__social {
      font-size: x-large;
      padding: 0 10px;
    }
  }
}
